<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

<form name="f" action="/process_login" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>

    <div th:if="${param.error}" style="color: red">
        Incorrect username or password
    </div>
</form>
<div>
    <button class="button" onclick="window.location.href='/auth/registration'">Register</button>
</div>

</body>
</html>