<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
    <label for="username">Username: </label>
    <input type="text" th:field="${user.username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="${user.username}">Username Error</div>
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="${user.password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="${user.password}">Password Error</div>
    <br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>